form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

form button {
    padding: 10px 20px;
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
.forum-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
}
.forum-container h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.add-comment {
    text-align: center;
    margin-bottom: 20px;
}

.add-comment button {
    padding: 10px 20px;
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.add-comment button .fa-plus {
    margin-right: 8px;
}
.post-actions {
    margin-top: 10px;
}

.post-actions button {
    background: none;
    border: none;
    color: #61dafb;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.field-required-message {
    color: #555;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.posts .post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-left: 5px solid #61dafb;
}

.post-content h2 {
    margin: 0;
    color: #333;
    font-size: 20px;
}

.post-content p {
    color: #666;
    font-size: 16px;
}

.post-stats {
    text-align: right;
}

.post-stats p {
    margin: 5px 0; 
}
